services:
  postgres:
    image: postgres:16-alpine
    container_name: apireloj-postgres
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - apireloj_pgdata:/var/lib/postgresql/data

volumes:
  apireloj_pgdata:
